<h2>This is a Live Version, products below will update in real time:</h2> 
{{#each games}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <button id="eraser" type="button">Delete Product</button>
  </div>
</div>
{{/each}}